.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s ease;
  pointer-events: none;
}

.page.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 10px;
}
